.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
.menu {
    background-color: #0a4c91;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: -10px;
  }
  
.menu2 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
.logo {
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 180px;
    margin-left: 20px;
  }

.menu-container {
    position: relative;
  }
  
.menu-button {
    background: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 1px;
  }
  
.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 160px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 999;
  }
  
.menu-dropdown a {
    display: block;
    padding: 10px;
    color: #003366;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }
  
.menu-dropdown a:hover {
    background: #f5f5f5;
  }

.text-bar{
  font-size: 16px;
  }
  
h1 {
  background-color: #fff;
  color: #000000;
  padding: 1rem;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background: #0a4c91;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}

h2 {
  margin-bottom: 20px;
  color: #fff;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-item p {
  margin: 0;
}

.total {
  font-weight: bold;
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}

button {
  background-color: #032d5a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #083a6b;

}
.remove-btn {
  background-color: #032d5a;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.produto {
  display: flex;
  align-items: center;
  background-color: #f0f8ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.imagem-produto {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.info-produto h3 {
  margin: 0;
  font-size: 16px;
}

.info-produto p {
  margin: 5px 0;
}

.info-produto button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

    
  
              