

body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #d4d4d4;
    
  }
  
  .home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .menu {
    background-color: #0a4c91;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu2 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logo {
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 50px;
  }
  .menu-container {
    position: relative;
  }
  
  .menu-button {
    background: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 50px;
  }
  
  .menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 160px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 999;
  }
  
  .menu-dropdown a {
    display: block;
    padding: 10px;
    color: #003366;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }
  
  .menu-dropdown a:hover {
    background: #f5f5f5;
  }

.categorias{
    margin: 20px 32px 5px; 
}

 .gallery-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  min-height: 26vh; 
}

.menu3 {
  background: #ffffff;
  border-radius: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; 
  align-items: flex-end;    
  height: 45vh;           
  margin: 0px 62px 20px;
  gap: 150px; 
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 60px; 
  z-index: 1; 
  width: 100%; 
}

.titulo-sobreposto {
  position: absolute; 
  top: 0px; 
  left: 50%;
  transform: translateX(-50%); 
  font-size: 46px;
  font-weight: bold;
  color: #011c37;
  z-index: 2; 
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  white-space: nowrap; 
  margin-bottom: 20px;
}

.menu3 img{
    width: 200px;
    height: 200px;
    border-radius: 0%;
    object-fit: cover;
    display: inline-block;
}
   .menu3::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  font-size: 36px;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s;
}

.scroll-btn:hover {
  background-color: #ffffff00
}

.scroll-btn.left {
  left: 20px;
  background-color: #ffffff00;
  color: #011c37;
}

.scroll-btn.right {
  right: 20px;
   background-color: #ffffff00;
   color: #011c37;
}
   
   
  
  