/*:host{
    display: block;
}

.gallery-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  min-height: 26vh; 
  margin-top: 110px;
}

.menu3 {
  background: #ffffff;
  border-radius: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; 
  align-items: flex-end;    
  height: 45vh;           
  margin: 0px 62px 20px;
  gap: 150px; 
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 60px; 
  z-index: 1; 
  width: 100%; 
}

.titulo-sobreposto {
  position: absolute; 
  top: 0px; 
  left: 50%;
  transform: translateX(-50%); 
  font-size: 46px;
  font-weight: bold;
  color: #011c37;
  z-index: 2; 
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  white-space: nowrap; 
  margin-bottom: 20px;
}

.menu3 img{
    width: 200px;
    height: 200px;
    border-radius: 0%;
    object-fit: cover;
    display: inline-block;
}
   .menu3::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  font-size: 36px;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 50%;
  z-index: 10;
  transition: 0.3s;
}

.scroll-btn:hover {
  background-color: #ffffff00
}

.scroll-btn.left {
  left: 20px;
  background-color: #ffffff00;
  color: #011c37;
}

.scroll-btn.right {
  right: 20px;
   background-color: #ffffff00;
   color: #011c37;
}*/